body{
    background: white;

    background-image: linear-gradient(90deg, #000 50%, #fff 0);
}

h1 {
    mix-blend-mode: difference;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100svh;
    perspective: 1000px; /* Geeft diepte aan de flip */
    transform-style: preserve-3d;
    list-style: none;
    padding-left: 0;
}



.kaart {
    position: absolute;
    display: flex;
    flex-direction: column;
    rotate: 5deg;
    
    width: 20em;
    height: 30em;
    border-radius: 1em;

    transform-style: preserve-3d;
    transform-origin:  center;

    /* gradient */
    transition: 1s cubic-bezier(0.34, 1.56, 0.64, 1); 

}

/* Draait en verplaatst de kaart naar de rechterkant */
.kaart.kaartGedraaid{
    /* animation: verplaatsEnDraai 1s forwards; */
    transform: rotate(-1turn) rotateY(0.5turn);
    translate: 50vw 0 calc(sibling-index() * -5em);
    rotate: 0deg;
}

/* @keyframes verplaatsEnDraai{
    to {
    }
} */

/* Verbergt de achterkant */
.voorkant, .achterkant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 1em;
}

.voorkant {
    background-color: #fff5ee; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.achterkant {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    background-color: #ff3b1f; 
    color: white;
    transform: rotateY(180deg); /* Staat standaard omgedraaid */
    overflow-y: auto; /* Zorgt dat tekst die te lang is gescrold kan worden */
}

.achterkant svg {
    grid-area: 1 / 1; 
    align-self: top;
    width: 5em;
    height: 5em;
}

.achterkant h2 {
    grid-area: 1 / 2; 
    align-self: top;
    height: fit-content;
}

.achterkant h3 {
    grid-column: 1 / 3; 
    grid-row: 2;
    
    align-self: end;
    justify-self: start;
    margin: 0em;
    margin-left: 1em;
    margin-right: 1em;
}

.achterkant p {
    grid-column: 1 / 3;
    grid-row: 3;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}
/* Bron card flip: https://stackoverflow.com/questions/79074420/how-to-do-i-make-the-flip-card-feature-work */



/* Kaart 2 */
ul li:nth-of-type(2) .voorkant {
    background-color: blue; 
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:nth-of-type(2) .achterkant {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    background-color: gray; 
    color: white;
    transform: rotateY(180deg); /* Staat standaard omgedraaid */
    overflow-y: auto; /* Zorgt dat tekst die te lang is gescrold kan worden */
}

/* Kaart 4 */
ul li:nth-of-type(4) .voorkant {
    background-color: blue; 
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:nth-of-type(4) .achterkant {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    background-color: gray; 
    color: white;
    transform: rotateY(180deg); /* Staat standaard omgedraaid */
    overflow-y: auto; /* Zorgt dat tekst die te lang is gescrold kan worden */
}

