h1 {
    text-align: center;
}

ol {
    list-style: none;
}

li{
    perspective: 1000px; /* Geeft diepte aan de flip */
}

ol li:nth-child(1){
    display: flex;
    justify-content: left;
}

ol li:nth-child(1).kaartVerplaatst{
    display: flex;
    justify-content: right;
}

.kaart {
    display: flex;
    flex-direction: column;
    
    width: 20em;
    height: 30em;
    border-radius: 1em;

    transform-style: preserve-3d;

    transition: transform 0.6s; /* annimatie*/
}

/* Draait de kaart om */
.kaart.kaartGedraaid{
    transform: rotateY(-180deg); 
}

/* Verbergt de achterkant */
.voorkant, .achterkant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 1em;
}

.voorkant {
    background-color: #fff5ee; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.achterkant {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    background-color: #ff3b1f; 
    color: white;
    transform: rotateY(180deg); /* Staat standaard omgedraaid */
    overflow-y: auto; /* Zorgt dat tekst die te lang is gescrold kan worden */
}

.achterkant svg {
    grid-area: 1 / 1; 
    align-self: top;
    width: 5em;
    height: 5em;
}

.achterkant h2 {
    grid-area: 1 / 2; 
    align-self: top;
    height: fit-content;
}

.achterkant h3 {
    grid-column: 1 / 3; 
    grid-row: 2;
    
    align-self: end;
    justify-self: start;
    margin: 0em;
    margin-left: 1em;
    margin-right: 1em;
}

.achterkant p {
    grid-column: 1 / 3;
    grid-row: 3;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}




/* Kaart 2 */